<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832819356008-n1s4oa3d84ae9l6rrju60262m1647lud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832819356008-n1s4oa3d84ae9l6rrju60262m1647lud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>832819356008-3or4scsqmfjveqio5pfrekqioa2gdpke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArPnHN3cqyXbxct4Q5fuDafwYSQOyF1L8</string>
	<key>GCM_SENDER_ID</key>
	<string>832819356008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myait</string>
	<key>PROJECT_ID</key>
	<string>myait-8d9a2</string>
	<key>STORAGE_BUCKET</key>
	<string>myait-8d9a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832819356008:ios:46a8ddcb26cf7771e7f6dd</string>
</dict>
</plist>